<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      a {
        padding: 0.3rem;
        color: white;
        background: orangered;
        border-radius: 0.2rem;
        text-decoration: none;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <h1>Welcome</h1>
    <a href="/auth/register">Register</a>
    <a href="/auth/login">Login</a>
  </body>
</html>
